.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    max-height: 95%;
    overflow-y: scroll;
}

h1{
    margin-bottom: 3%;
}

p{
    margin-top: 2%;
    font-size: x-large;
}